<html>
  <body>
    <h1>hello</h1>
    <form method="POST">
      {% csrf_token %}
      <select name="crop">
        <option value="Bajra">Bajra</option>
        <option value="Wheat">Wheat</option>
        <option value="Urad">Urad</option>
        <option value="Turmeric">Turmeric</option>
      </select>
      Rain Fall:<input type="text" name="rainfall" /> Temperature:<input
        type="text"
        name="temp"
      />
      PH:<input type="text" name="ph" />
      <input type="submit" />
    </form>
  </body>
</html>
